<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#116ae3">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <a href="{{ site.baseurl }}/" class="btn">文档首页</a>
      <a href="https://openanolis.cn" class="btn">龙蜥社区官网</a>
      <a href="{{ site.baseurl }}/CONTRIBUTING.html" class="btn">贡献者指南</a>
      <a href="https://gitee.com/anolis/docs/" class="btn">在 Gitee 查看源码</a>
    </header>

    <main id="content" class="main-content" role="main">
      <h1>目录</h1>
      {% include toc.html html=content sanitize=true class="inline_toc" id="anolis_toc" h_min=2 h_max=5 %}
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-owner">Copyright (C) 2022 by <a href="https://openanolis.cn">OpenAnolis Community</a>.</span>
        <span class="site-footer-owner"><strong>除非另有说明，否则本站内容依据 <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> 许可证进行授权，转载请附上出处链接</strong>。</span>
      </footer>
    </main>
  </body>
</html>
